@use "./base.scss";

// put your custom CSS here!


//cor do criado e modificado em
.content-meta {
  color: #888;
  font-size: 0.9em;
  opacity: 0.8;
  margin-block-end: 0;
}

// tamanho das sidebar, exceto a title
.left.sidebar *:not(.page-title):not(.page-title *),
.right.sidebar * {
    font-size: 0.95rem;
    font-weight: 500;
    }


// no mobile nao aparecer o recent notes

@media (max-width: 800px) {
      .recent-notes {
        display: none;
      }
    }


// sidebar no desktop
@media (min-width: 801px) {
    .left.sidebar {
      display: initial;
    }

    .explorer {
      flex: initial;
      min-height: initial;
      overflow-y: auto;
    }

    .recent-notes {
      flex: initial;
      min-height: 370px;
      overflow-y: auto;
    }
    }


// tags

// a.internal.tag-link {
//   background: transparent !important;
//   color: var(--gray) !important;
//   border: 1px solid var(--lightgray) !important;
//   padding: 0.2rem 0.5rem !important;
//   border-radius: 4px !important;
//   font-size: 0.75rem !important;
//   font-weight: 400 !important;
//   text-decoration: none !important;
//   transition: all 0.2s ease !important;
// }

// a.internal.tag-link:hover {
//   border-color: var(--secondary) !important;
//   color: var(--secondary) !important;
//   background: rgba(var(--secondary-rgb), 0.05) !important;
// }

// a.internal.tag-link::before {
//   content: "#" !important;
//   opacity: 0.6 !important;
//   margin-right: 0.1rem !important;
// }


