@use "./base.scss";

// put your custom CSS here!


//cor do criado e modificado em
.content-meta {
  color: #888;
  font-size: 0.9em;
  opacity: 0.8;
}

// tamanho das sidebar, exceto a title
.left.sidebar *:not(.page-title):not(.page-title *),
.right.sidebar * {
    font-size: 0.95rem;
    font-weight: 500;
    }


// no mobile nao aparecer o recent notes

@media (max-width: 800px) {
      .recent-notes {
        display: none;
      }
    }


// sidebar no desktop
@media (min-width: 801px) {
    .left.sidebar {
      display: initial;
    }

    .explorer {
      flex: initial;
      min-height: initial;
      overflow-y: auto;
    }

    .recent-notes {
      flex: initial;
      min-height: 370px;
      overflow-y: auto;
    }
    }